[tool.poetry]
name = "iscc-sdk"
version = "0.3.0"
description = ""
authors = ["Titusz <tp@py7.de>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://sdk.iscc.codes"
repository = "https://github.com/iscc/iscc-sdk"
keywords=["iscc", "identifier", "media", "content", "hash", "blockchain", "similarity"]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
cython = "^0.29.28"
iscc-core = "^0.2.3"
iscc-schema = "^0.3.5"
python-magic-bin = { version = "^0.4", markers = "sys_platform == 'win32' or sys_platform == 'darwin'" }
python-magic = { version = "^0.4", markers = "sys_platform == 'linux'" }
install-jdk = "^0.3"
platformdirs = "^2.5"
jmespath = "^0.10"
Pillow = "^9.0"
pytaglib = "^1.5.0"

[tool.poetry.dev-dependencies]
pytest = "^7.0"
black = "^22.1"
coverage = "^6.3"
pytest-cov = "^3.0"
poethepoet = "^0.13"
bandit = "^1.7"
mkdocs-material = "^8.2"
mkdocstrings = "^0.18"
iscc-samples = "^0.4"

[tool.black]
skip-string-normalization = false
line-length = 100
target-version = ['py37']

[tool.poe.tasks]
docs = { cmd = "poetry run python -m devtools.build_docs", help = "Copy README.md to /docs" }
black = { cmd = "poetry run black .", help = "Code style formating with black" }
test = { cmd = "poetry run pytest --cov=iscc_sdk --cov-fail-under=100", help = "Run tests with coverage" }
sec = { cmd = "poetry run bandit -r iscc_sdk -q", help = "Security check with bandit" }
all = ["docs", "black", "test"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
